@use "sass:color";

$bg-color: #36F;
    
@font-face {
    font-family: 'Impact';
    src: url('./impact/impact.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    background-color: $bg-color;
    color: white;
    @media (prefers-color-scheme: dark) {
        background-color: color.adjust($bg-color, $lightness: -35%);
    }
}

h1, h2, h3 {
    font-family: 'Impact', sans-serif;
    font-size: 200%;
}

h5 {
    font-size: 200%;
}

p {
    font-size: 125%;
}

#center-align {
    text-align: center;
}

#news-align {
    text-align: justify;
}

.huge2timesText {
    font-size: 200%;
}

a {
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
}

.button-reg {
  background-color: #36A9AE;
  background-image: linear-gradient(#37ADB2, #329CA0);
  border: 1px solid #2A8387;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-size: 1.5em;
  line-height: 100%;
  margin: 0;
  outline: 0;
  padding: 11px 15px 12px;
  text-align: center;
  transition: box-shadow 0.05s ease-in-out, opacity 0.05s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;

  &:hover {
    box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 2px;
    text-decoration: none;
    transition-duration: 0.15s, 0.15s;
  }

  &:active {
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;

    &:active {
      pointer-events: none;
    }

    &:hover {
      box-shadow: none;
    }
  }
}

@debug "Hi"