@use "sass:color";

$bg-color: #36F;
$darkbg-color: #1B3687;
    
@font-face {
    font-family: 'Impact';
    src: url('./impact/impact.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    background-color: $bg-color;
    color: white;
    @media (prefers-color-scheme: dark) {
        background-color: $darkbg-color;
    }
}

h1, h2, h3 {
    font-family: 'Impact', sans-serif;
}

#center-align {
    text-align: center;
}

#news-align {
    text-align: justify;
}

.huge2timesText {
    font-size: 200%;
}

a {
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
}

@debug "Hi"