@use "sass:color";

$bg-color: #e6e7e7;
$txt-color: #0D1117;
$button-bg-color: #5b5b5b;
$reg-shadow-color: rgba(0, 0, 0, 0.12);
$hover-shadow-color: rgba(255, 255, 255, 0.3);

@font-face {
    font-family: 'Impact';
    src: url('./impact/impact.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    background-color: $bg-color;
    color: $txt-color;
    @media (prefers-color-scheme: dark) {
        background-color: $txt-color;
        color: $bg-color;
    }
}

h1, h2, h3 {
    font-family: 'Impact', sans-serif;
    font-size: 200%;
}

h5 {
    font-size: 200%;
}

p {
    font-size: 125%;
}

#center-align {
    text-align: center;
}

#news-align {
    text-align: justify;
}

a {
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
}

body {
    margin: 25px;
}

.twelveM {
    margin-left: 18.75%;
    margin-right: 18.75%;
    margin-bottom: 0.75%;
}

.button-reg {
  background-color: $button-bg-color;
  background-image: linear-gradient(#c7c7c7cb, #40404099);
  border: 1px solid ;
  border-radius: 4px;
  box-shadow: $reg-shadow-color 0 1px 1px;
  color: #000000c2;
  cursor: pointer;
  display: block;
  font-size: 1.5em;
  line-height: 100%;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  outline: 0;
  padding: 11px 15px 12px;
  text-align: center;
  transition: box-shadow 0.05s ease-in-out, opacity 0.05s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  @media (prefers-color-scheme: dark) {
    background-color: color.invert($button-bg-color);
    box-shadow: color.invert($reg-shadow-color) 0 1px 1px;
    color: #f5f5f5f5
  }

  &:hover {
    box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 2px;
    text-decoration: none;
    transition-duration: 0.15s, 0.15s;
    @media (prefers-color-scheme: dark) {
        box-shadow: color.invert($hover-shadow-color) 0 0 2px inset;
    }
  }

  &:active {
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;

    &:active {
      pointer-events: none;
    }

    &:hover {
      box-shadow: none;
    }
  }
}

@debug "Hi"